#root, .App, .ant-layout {
  height: 100%;
}

html {
  background-color: #001529;
}

.ant-layout-content {
  background: rgb(230, 230, 230);
}

.logo {
  height: 58px;
  content: url("./logo.png");
  margin-bottom: 2px;
}

.site-layout-background {
  background: rgb(230, 230, 230);
}
[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}

.green {
  color: green;
}

.red {
  color: rgb(187, 0, 0);
}

.steps-content {
  min-height: 200px;
  margin-top: 16px;
  padding-top: 80px;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.ant-card-hoverable:hover.card-selected, .card-selected {
  border: 2px solid #1990ff;
}
